<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1> Create a Basketballl Team!</h1>
   <form method="POST" action="/team">
     <p>Team Name: <input type="text" name="teamname"</p>
     <input type="submit">
   </form>


   <form method="POST" action="/food">
    <p>Your Name: <input type="text" name="name"></p>
    <p>Your Favorite Food: <input type="text" name="favorite_food"></p>

 </body>
</html>
